@using ThuanTanUmbraco.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var node = (IPublishedContent) CurrentPage;
}

@Html.Partial("~/Views/Partials/Layout/_BreadCrumb.cshtml")
<div class="wrap-sign">
    <div class="container">
        <div class="title-product">
            <h1>@node.Name</h1>
            <div class="desc">
                @node.GetPropertyValue("description")
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="wrap-user__login">
                    @using (Ajax.BeginForm("MemberForgotPassword",
                        "MemberFrontEnd",
                        null,
                        new AjaxOptions
                        {
                            UpdateTargetId = "contentAjaxForm",
                            HttpMethod = "POST"
                        }, new { @class = "ajaxForm" }))
                    {
                        <div id="contentAjaxForm">
                            @Html.Partial("~/Views/Partials/User/ForgotPassword/_Form.cshtml", new LoginForm())
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>