@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="item cart-form">
    <div class="item-visible">
        <i class="mysprite cart"></i>
        <span>0</span>
    </div>
    <div class="wrap-hidden">
        <div id="wrap-into-cart"></div>
        <a href="#" class="pay">Thanh toán</a>
        <a href="#" class="view-cart">Xem giỏ hàng</a>
    </div>
</div>