@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="item cart-form">
    <div class="item-visible">
        <i class="mysprite cart"></i>
        <span>0</span>
    </div>
    <div class="wrap-hidden">
        <div class="items-in-cart">
            <div class="item">
                <div class="img">
                    <a href="#">
                        <img src="https://via.placeholder.com/85x100" alt="" />
                    </a>
                </div>
                <div class="content">
                    <a href="#">Đồng Hồ Nam Citizen BI1054.55A</a>
                    <p class="price">3.420.000 VNĐ <span>x1</span></p>
                </div>
                <a href="#" class="remove-item">x</a>
            </div>
            <div class="item">
                <div class="img">
                    <a href="#">
                        <img src="https://via.placeholder.com/85x100" alt="" />
                    </a>
                </div>
                <div class="content">
                    <a href="#">Đồng Hồ Nam Citizen BI1054.55A</a>
                    <p class="price">3.420.000 VNĐ <span>x1</span></p>
                </div>
                <a href="#" class="remove-item">x</a>
            </div>
            <div class="item">
                <div class="img">
                    <a href="#">
                        <img src="https://via.placeholder.com/85x100" alt="" />
                    </a>
                </div>
                <div class="content">
                    <a href="#">Đồng Hồ Nam Citizen BI1054.55A</a>
                    <p class="price">3.420.000 VNĐ <span>x1</span></p>
                </div>
                <a href="#" class="remove-item">x</a>
            </div>
            <div class="item">
                <div class="img">
                    <a href="#">
                        <img src="https://via.placeholder.com/85x100" alt="" />
                    </a>
                </div>
                <div class="content">
                    <a href="#">Đồng Hồ Nam Citizen BI1054.55A</a>
                    <p class="price">3.420.000 VNĐ <span>x1</span></p>
                </div>
                <a href="#" class="remove-item">x</a>
            </div>
            <div class="item">
                <div class="img">
                    <a href="#">
                        <img src="https://via.placeholder.com/85x100" alt="" />
                    </a>
                </div>
                <div class="content">
                    <a href="#">Đồng Hồ Nam Citizen BI1054.55A</a>
                    <p class="price">3.420.000 VNĐ <span>x1</span></p>
                </div>
                <a href="#" class="remove-item">x</a>
            </div>
        </div>
        <p class="total">
            Tổng: <span>3.420.000 VNĐ</span>
        </p>
        <a href="#" class="pay">Thanh toán</a>
        <a href="#" class="view-cart">Xem giỏ hàng</a>
    </div>
</div>